In [28]:
## 문서 군집화
import numpy as np
import pandas as pd
import glob, os
import warnings
warnings.filterwarnings("ignore")

path =r"C:\education\ml_dev\ch08\topics"    # r : raw 역슬래시를 그대로 표시할때 사용

In [29]:
# topics 디렉토리 안에 있는 특정 파일 목록(리스트)
all_files = glob.glob(os.path.join(path,"*data"))   # os에 맞게끔 파일을 가져온다
all_files

['C:\\education\\ml_dev\\ch08\\topics\\accuracy_garmin_nuvi_255W_gps.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\bathroom_bestwestern_hotel_sfo.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\battery-life_amazon_kindle.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\battery-life_ipod_nano_8gb.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\battery-life_netbook_1005ha.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\buttons_amazon_kindle.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\comfort_honda_accord_2008.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\comfort_toyota_camry_2007.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\directions_garmin_nuvi_255W_gps.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\display_garmin_nuvi_255W_gps.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\eyesight-issues_amazon_kindle.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\features_windows7.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\fonts_amazon_kindle.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\food_holiday_inn_london.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\food_swissotel_chicago.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\free_bestwestern_hotel_sfo.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\gas_mileage_toyota_camry_2007.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\interior_honda_accord_2008.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\interior_toyota_camry_2007.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\keyboard_netbook_1005ha.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\location_bestwestern_hotel_sfo.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\location_holiday_inn_london.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\mileage_honda_accord_2008.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\navigation_amazon_kindle.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\parking_bestwestern_hotel_sfo.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\performance_honda_accord_2008.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\performance_netbook_1005ha.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\price_amazon_kindle.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\price_holiday_inn_london.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\quality_toyota_camry_2007.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\rooms_bestwestern_hotel_sfo.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\rooms_swissotel_chicago.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\room_holiday_inn_london.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\satellite_garmin_nuvi_255W_gps.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\screen_garmin_nuvi_255W_gps.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\screen_ipod_nano_8gb.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\screen_netbook_1005ha.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\seats_honda_accord_2008.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\service_bestwestern_hotel_sfo.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\service_holiday_inn_london.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\service_swissotel_hotel_chicago.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\size_asus_netbook_1005ha.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\sound_ipod_nano_8gb.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\speed_garmin_nuvi_255W_gps.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\speed_windows7.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\staff_bestwestern_hotel_sfo.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\staff_swissotel_chicago.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\transmission_toyota_camry_2007.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\updates_garmin_nuvi_255W_gps.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\video_ipod_nano_8gb.txt.data',
 'C:\\education\\ml_dev\\ch08\\topics\\voice_garmin_nuvi_255W_gps.txt.data']

In [30]:
# 파일명 저장하는 리스트 만들기(여러개 저장)
filenames = []
# 리뷰를 저장하는 리스트 만들기
opinion_text = []

# 첫번쨰 파일 읽기 => 처리 설명
file_ = all_files[0] # 첫번쨰 파일명

df=pd.read_table(file_, index_col=None, header=None, encoding="latin1")
df.head()

                                                   0
0                     , and is very, very accurate .
1   but for the most part, we find that the Garmi...
2   This function is not accurate if you don't le...
3   It provides immediate alternatives if the rou...
4   I've used other GPS units, as well as GPS bui...

In [ ]:
# 절대경로로 주어진 파일명을 가공.
# 맨 마지막 .data 확장자 제거
# file_.split("\\")[-1].split(".")[0]
file_.split("\\")

In [ ]:
file_.split("\\")[-1]

In [ ]:
filename_ = file_.split("\\")[-1]
filename_.split(".")

In [ ]:
filename = filename_.split(".")[0]
filename

In [ ]:
filenames.append(filename)
opinion_text.append(df.to_string())

In [ ]:
df.head(3)

In [ ]:
df.to_string()

In [32]:
# 51개 파일을 반복 처리
for file_ in all_files:
    df = pd.read_table(file_, index_col=None, header=None, encoding="latin1")
    filename_ = file_.split("\\")[-1]
    filename = filename_.split(".")[0]
    
    filenames.append(filename)
    opinion_text.append(df.to_string())
    
filenames

['accuracy_garmin_nuvi_255W_gps',
 'bathroom_bestwestern_hotel_sfo',
 'battery-life_amazon_kindle',
 'battery-life_ipod_nano_8gb',
 'battery-life_netbook_1005ha',
 'buttons_amazon_kindle',
 'comfort_honda_accord_2008',
 'comfort_toyota_camry_2007',
 'directions_garmin_nuvi_255W_gps',
 'display_garmin_nuvi_255W_gps',
 'eyesight-issues_amazon_kindle',
 'features_windows7',
 'fonts_amazon_kindle',
 'food_holiday_inn_london',
 'food_swissotel_chicago',
 'free_bestwestern_hotel_sfo',
 'gas_mileage_toyota_camry_2007',
 'interior_honda_accord_2008',
 'interior_toyota_camry_2007',
 'keyboard_netbook_1005ha',
 'location_bestwestern_hotel_sfo',
 'location_holiday_inn_london',
 'mileage_honda_accord_2008',
 'navigation_amazon_kindle',
 'parking_bestwestern_hotel_sfo',
 'performance_honda_accord_2008',
 'performance_netbook_1005ha',
 'price_amazon_kindle',
 'price_holiday_inn_london',
 'quality_toyota_camry_2007',
 'rooms_bestwestern_hotel_sfo',
 'rooms_swissotel_chicago',
 'room_holiday_inn_london',
 'satellite_garmin_nuvi_255W_gps',
 'screen_garmin_nuvi_255W_gps',
 'screen_ipod_nano_8gb',
 'screen_netbook_1005ha',
 'seats_honda_accord_2008',
 'service_bestwestern_hotel_sfo',
 'service_holiday_inn_london',
 'service_swissotel_hotel_chicago',
 'size_asus_netbook_1005ha',
 'sound_ipod_nano_8gb',
 'speed_garmin_nuvi_255W_gps',
 'speed_windows7',
 'staff_bestwestern_hotel_sfo',
 'staff_swissotel_chicago',
 'transmission_toyota_camry_2007',
 'updates_garmin_nuvi_255W_gps',
 'video_ipod_nano_8gb',
 'voice_garmin_nuvi_255W_gps']

In [33]:
# 데이터프레임 생성
doc_df = pd.DataFrame({
    "filename" : filenames
    , "opinion_text" : opinion_text
})
doc_df.head(3)

,filename,opinion_text
0,accuracy_garmin_nuvi_255W_gps,...
1,bathroom_bestwestern_hotel_sfo,...
2,battery-life_amazon_kindle,...

In [34]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [35]:
ord("!")

33

In [36]:
from nltk.stem import WordNetLemmatizer
import nltk
import string

remove_punct_dict = dict((ord(punct), None) for punct in string.punctuation)
lemmar = WordNetLemmatizer() # 어근 추출

# 입력으로 들어온 token단어들에 대해서 lemmatization 어근 변환. 
def LemTokens(tokens):
    return [lemmar.lemmatize(token) for token in tokens] # 어근 추출 후 리스트로 반환

# TfidfVectorizer 객체 생성 시 tokenizer인자로 해당 함수를 설정하여 lemmatization 적용
# 입력으로 문장을 받아서 stop words 제거-> 소문자 변환 -> 단어 토큰화 -> lemmatization 어근 변환. 
def LemNormalize(text):
    return LemTokens(nltk.word_tokenize(text.lower().translate(remove_punct_dict)))

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vect = TfidfVectorizer(
      tokenizer=LemNormalize
    , stop_words='english'
    , ngram_range=(1,2)
    , min_df=0.05
    , max_df=0.85 
)

In [40]:
feature_vect = tfidf_vect.fit_transform(doc_df['opinion_text'])
feature_vect

<51x4604 sparse matrix of type '<class 'numpy.float64'>'
	with 30104 stored elements in Compressed Sparse Row format>

In [42]:
from sklearn.cluster import KMeans

km_cluster = KMeans(n_clusters=5, max_iter=10000, random_state=0)
km_cluster.fit(feature_vect)
cluster_label = km_cluster.labels_
cluster_centers = km_cluster.cluster_centers_

  File "c:\ProgramData\anaconda3\envs\ml_dev\lib\site-packages\joblib\externals\loky\backend\context.py", line 257, in _count_physical_cores
    cpu_info = subprocess.run(
  File "c:\ProgramData\anaconda3\envs\ml_dev\lib\subprocess.py", line 503, in run
    with Popen(*popenargs, **kwargs) as process:
  File "c:\ProgramData\anaconda3\envs\ml_dev\lib\subprocess.py", line 971, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "c:\ProgramData\anaconda3\envs\ml_dev\lib\subprocess.py", line 1456, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,

In [43]:
doc_df['cluster_label'] = cluster_label
doc_df.head()

,filename,opinion_text,cluster_label
0,accuracy_garmin_nuvi_255W_gps,...,4
1,bathroom_bestwestern_hotel_sfo,...,3
2,battery-life_amazon_kindle,...,1
3,battery-life_ipod_nano_8gb,...,1
4,battery-life_netbook_1005ha,...,1

In [45]:
doc_df[doc_df['cluster_label']==0].sort_values(by='filename')

,filename,opinion_text,cluster_label
17,interior_honda_accord_2008,...,0
18,interior_toyota_camry_2007,...,0

In [44]:
doc_df[doc_df['cluster_label']==3].sort_values(by='filename')

,filename,opinion_text,cluster_label
1,bathroom_bestwestern_hotel_sfo,...,3
13,food_holiday_inn_london,...,3
14,food_swissotel_chicago,...,3
15,free_bestwestern_hotel_sfo,...,3
20,location_bestwestern_hotel_sfo,...,3
21,location_holiday_inn_london,...,3
24,parking_bestwestern_hotel_sfo,...,3
28,price_holiday_inn_london,...,3
32,room_holiday_inn_london,...,3
30,rooms_bestwestern_hotel_sfo,...,3
31,rooms_swissotel_chicago,...,3
38,service_bestwestern_hotel_sfo,...,3
39,service_holiday_inn_london,...,3
40,service_swissotel_hotel_chicago,...,3
45,staff_bestwestern_hotel_sfo,...,3
46,staff_swissotel_chicago,...,3

In [47]:
doc_df[doc_df['cluster_label']==2].sort_values(by='filename')

,filename,opinion_text,cluster_label
6,comfort_honda_accord_2008,...,2
7,comfort_toyota_camry_2007,...,2
16,gas_mileage_toyota_camry_2007,...,2
22,mileage_honda_accord_2008,...,2
25,performance_honda_accord_2008,...,2
27,price_amazon_kindle,...,2
29,quality_toyota_camry_2007,...,2
37,seats_honda_accord_2008,...,2
47,transmission_toyota_camry_2007,...,2

In [50]:
# 군집 == 0 , 파일명 정렬
doc_df[doc_df["cluster_label"]==2]

,filename,opinion_text,cluster_label
6,comfort_honda_accord_2008,...,2
7,comfort_toyota_camry_2007,...,2
16,gas_mileage_toyota_camry_2007,...,2
22,mileage_honda_accord_2008,...,2
25,performance_honda_accord_2008,...,2
27,price_amazon_kindle,...,2
29,quality_toyota_camry_2007,...,2
37,seats_honda_accord_2008,...,2
47,transmission_toyota_camry_2007,...,2

In [51]:
km_cluster.cluster_centers_.shape

(5, 4604)